{% import 'macros/answers.html' as answers %}
{% from 'macros/breadcrumb.html' import breadcrumb as breadcrumb %}
{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ service_data['serviceName'] }} – Digital Marketplace admin
{% endblock %}

{% block content %}
  {{ breadcrumb() }}
  <div class="page-container">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
    {% if category == 'error' %}
        <div class="banner-destructive-without-action">
    {% else %}
        <div class="banner-success-without-action">
    {% endif %}
      <p class="banner-message">
          {% if message['bad_status'] %}
          Not a valid status: '{{ message['bad_status'] }}'
          {% elif message['status_error'] %}
          Error trying to update status of service: {{ message['status_error'] }}
          {% elif message['status_updated'] %}
          Service status has been updated to: {{ message['status_updated']|title }}
          {% endif %}
      </p>
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
          
    {% if service_data %}
      <div class="grid-row">
        <div class="service-title">
          {{ page_heading(service_data['serviceName'], service_data['supplierName'], "page-heading-smaller") }}
        </div>
        <div class="service-view">
          <a href="https://www.digitalmarketplace.service.gov.uk/service/{{ service_id }}">View service</a>
        </div>
      </div>

      <div class='show-diff'>
        <h2 class='diff-title'>
          Service revisions
        </h2>

        <table>
          <thead></thead>
          <tbody>
            <tr class='head-row'>
              <td class='line-number' colspan='2'><h3>Original</h3>Tuesday 10 June 2015 14:00</td>
              <td class='line-number' colspan='2'><h3>Revised</h3>Tuesday 10 June 2015 14:30</td>
            </tr>
            <tr class='head-row'>
              <td colspan="4">
                <h3>Service Summary</h3>
              </td>
            </tr>
            <tr>
              <td class='line-number number removed'>1</td>
              <td class='removed'>
                <strong>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </strong>
              </td>
              <td class='line-number number added'>1</td>
              <td class='added'>
                <strong>
                  This is a new string, the old string has been replaced. Any resemblance to the original string is coincidental.
                </strong>
              </td>
            </tr>
            <tr class='head-row'>
              <td colspan="4">
                <h3>Features</h3>
              </td>
            </tr>
            <tr>
              <td class='line-number number removed'>1</td>
              <td class='removed'>
                Something removed, but nothing added<strong>!</strong>
              </td>
              <td class='line-number number'>1</td>
              <td class=''>
                Something removed, but nothing added
              </td>
            </tr>
              <td class='line-number number'>2</td>
              <td class='removed-detail'>
                Something added, but nothing removed
              </td>
              <td class='line-number number added'>2</td>
              <td class='added'>
                Something added, but nothing removed<strong>.</strong>
              </td>
            </tr>
            <tr>
              <td class='line-number number removed'>7</td>
              <td class='removed-detail removed'>
                <strong>Everything removed</strong>
              </td>
              <td class='line-number number'>7</td>
              <td class=''>
              </td>
            </tr>
            <tr class='head-row'>
              <td colspan="4">
                <h3>Benefits</h3>
              </td>
            </tr>
            <tr>
              <td class='line-number number'>2</td>
              <td class='removed-detail'>
              </td>
              <td class='line-number number added'>2</td>
              <td class='added'>
                <strong>Something completely new.</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
       
      {% for section in sections %}
        {% if section.name in diffs %}
        {% else %}
          {% if service_data['lot']|lower in section['depends_on_lots'] %}
            <h2 class="summary-item-heading">
              {{section.name}}
            </h2>
            <table class="summary-item-body">
              <thead class="summary-item-field-headings">
                <tr>
                  <th>Service attribute name</th><th>Service attribute</th>
                </tr>
              </thead>
              <tbody class="summary-item-body">
                {% for question in section.questions %}
                  {% if service_data['lot']|lower in question['depends_on_lots'] %}
                    <tr class="summary-item-row">
                      <td class="summary-item-field-name">{{ question.question }}</td>
                      <td class="summary-item-field-content">
                        {{ answers[question.type](service_data[question.id]) }}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
      {% endfor %}

      <form action="{{ url_for('.update_service_status', service_id=service_id ) }}" method="post">
          <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
          <fieldset class="question">
              <legend class="question-heading">
                  Service status
              </legend>
              <label class="selection-button">
                  <input type="radio" name="service_status" id="service_status_disabled" value="removed" {% if service_data['status'] == 'disabled' %}checked="checked"{% endif %} />
                  Removed
              </label>
              <label class="selection-button">
                  <input type="radio" name="service_status" id="service_status_private" value="private" {% if service_data['status'] == 'enabled' %}checked="checked"{% endif %} />
                  Private
              </label>
              {% if service_data.status != 'disabled' %}
              <label class="selection-button">
                  <input type="radio" name="service_status" id="service_status_published" value="public" {% if service_data['status'] == 'published' %}checked="checked"{% endif %} />
                  Public
              </label>
              {% endif %}
          </fieldset>
          <button type="submit" class="button-save">Update status</button>
      </form>

    {% else %}
    <h1>Error</h1>
    <p>
      No service data
    </p>
    {% endif %}
  </div>
{% endblock %}
